<div class="form-container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" formControlName="name" name="name" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="emailId">Email ID:</label>
      <input id="emailId" formControlName="emailId" name="emailId" class="form-control" type="email" required />
    </div>
    <div class="form-group">
      <label for="position">Position:</label>
      <input id="position" formControlName="position" name="position" class="form-control" required />
    </div>
    <button type="submit" class="btn primary-btn">Register</button>
  </form>
</div>
<app-confirmation *ngIf="(dialogOpen$ | async)"  ></app-confirmation>
