/* Form container */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form group */
.form-group {
  margin-bottom: 15px;
}

/* Label */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input fields */
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Button */
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Primary button */
.primary-btn {
  background-color: #4169e1;
  margin-left: 235px;
  border: none;

}

.primary-btn:hover {
  background-color: #45a049;
}

/* Confirmation dialog */
app-confirmation {
  display: block;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Confirmation buttons */
app-confirmation .btn {
  margin-top: 10px;
}
